*{
  margin: 0;
  padding: 0;

}

.search-box{
  width: 240px;
  background: white;
  height: 64px;
  padding: 8px;
  border: 2px solid #BCE3C9;
  display: flex;
  margin-top: 1%;
  margin-left: 2%;
}


.search-box .search-txt{
  width: 190px;
  padding: 0 6px;
}


.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  color: green;
  font-size: large;
  line-height: 35px;
  letter-spacing: .6px;
}






.menu{
  width: 80%;
  display: flex;
  height: 70px;
  align-items: center;
  }


.menu .a href{
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.menu a{
  list-style: none;
  margin-left: 60px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: Arial;
  font-weight: bold;
  transition: .3s ease;
}

.menu a:hover{
    color: #BCE3C9;
}










/* calis class adlarin balaca herfle yaz */
.Every-products{
  margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card{
    width: 18%;
    border: 1px solid #ccc;
}

.card img{
    width: 100%;

}
.first-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.second-header{
  display: flex;
  justify-content: space-between;
}
.contact{
  width: 20%;
  display: flex;
  flex-direction: row;
}
.contact-text{
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}